.articles-detail {
  padding: 2rem 0;
}

.banner {
  color: #fff;
  background-color: #333;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.article-page .banner {
  padding: 2rem 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.article-page .banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

.article-page .banner .article-meta {
  margin: 2rem 0 0;
}

.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-page .banner .article-meta .author {
  color: #fff;
}

.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

a {
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-outline-secondary {
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
}

button {
  text-transform: none;
  overflow: visible;
}

.btn-outline-primary {
  color: #5cb85c;
  background-color: transparent;
  background-image: none;
  border-color: #5cb85c;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #6ec06e;
  border-color: #6ec06e;
}

.than {
  position: relative;
  min-height: 1px;
  padding-right: 22px;
  padding-left: 22px;
  flex: 0 0 100%;
  max-width: 100%;
}

.ul.tag-list li {
  display: inline-block !important;
}

.tag-default {
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
}

.ul.tag-list {
  padding-left: 0 !important;
  list-style: none !important;
  display: inline-block;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.article-page .card {
  border: 1px solid #e5e5e5;
  box-shadow: none !important;
}

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.article-page .comment-form .card-block {
  padding: 0;
}

.article-page .comment-form .card-block textarea {
  border: 0;
  padding: 1.25rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.article-page .comment-form .card-footer .comment-author-img {
  height: 30px;
  width: 30px;
}

.article-page .card .comment-author-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}

.article-page .comment-form .card-footer .btn {
  font-weight: 700;
  float: right;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn-primary:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.card-block {
  padding: 1.25rem;
}

.article-page .card .card-footer {
  border-top: 1px solid #e5e5e5;
  box-shadow: none !important;
  font-size: 0.8rem;
  font-weight: 300;
}

.card-footer:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
}

.comment-author {
  color: #5cb85c;
}

.comment-author:hover {
  text-decoration: underline;
}

.article-page .card .date-posted {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 2px;
  color: #bbb;
}

.article-page .card .mod-options {
  float: right;
  color: #333;
  font-size: 1rem;
}

.article-page .card .mod-options .bi {
  margin-left: 5px;
  opacity: 0.6;
  cursor: pointer;
}

.signinup a {
  color: #5cb85c;
}

.signinup a:hover {
  text-decoration: underline;
}

.signinup {
  margin-bottom: 100px;
}

.btn-outline-danger {
  color: #b85c5c;
  background-image: none;
  background-color: transparent;
  border-color: #b85c5c;
}

.btn-outline-secondary:hover {
  background-color: #c8c8c8;
}

.btn-outline-secondary:active {
  background-color: #c8c8c8;
  color: #333;
}

.btn-outline-primary {
  color: #fff !important;
  background-color: #6ec06e !important;
  border-color: #6ec06e !important;
  --bs-btn-active-bg: #6ec06e !important;
}
