.heart-btn:hover {
  background: green !important;
}

.heart-btn:active {
  background: rgb(0, 103, 0) !important;
}

.setting-btn:hover {
  background: #d0d0d0 !important;
}

.setting-btn:active {
  background: #b9b9b9 !important;
}

.nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

.nav-link.deactive {
  background: 0 0 !important;
  border-bottom: none !important;
  color: #aaa !important;
  display: block;
  padding: 0.5em 1em;
}

.nav-link.deactive:hover {
  color: black !important;
}

.author:hover {
  text-decoration: underline !important;
}

.text-secondary.navhover:hover {
  color: rgb(79, 78, 78) !important;
}

.text-secondary.navhover {
  color: rgba(0, 0, 0, 0.3) !important;
}

.tag-pill.tag-default.sidebar-tag:hover {
  background-color: #757575 !important;
}

.nav-item.false:hover {
  color: #000;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5cb85c !important;
  --bs-btn-border-color: #5cb85c !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #52ac52 !important;
  --bs-btn-hover-border-color: #52ac52 !important;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5cb85c !important;
  --bs-btn-active-border-color: #5cb85c !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.selected-tag {
  text-decoration: underline !important;
  background-color: #757575 !important;
}

.selected-tag:hover {
  text-decoration: none !important;
}

.thinkster:hover {
  text-decoration: underline !important;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.setting-btn {
  float: right;
  color: #999 !important;
  border: 1px solid #999 !important;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  background-image: none;
  background-color: transparent;
}

.articles-toggle {
  margin: 1.5rem 0 -1px;
}

.top-bar {
  border-radius: 0 !important;
  border: none;
  border-bottom: 2px solid transparent !important;
  background: none;
  color: #aaa !important;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}

.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.article-meta {
  margin: 0 0 1rem;
  display: block;
  position: relative;
  font-weight: 300;
}

.author-avt {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
  border: 0;
}

.info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.date {
  color: #bbb !important;
  font-size: 0.8rem;
  display: block;
  line-height: 1rem;
  font-weight: 300;
}

.heart-btn {
  float: right;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border-color: #5cb85c !important;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #5cb85c !important;
}

.preview-link {
  color: inherit;
  touch-action: manipulation;
  text-decoration: none;
  background: transparent;
}

.h1-userprofile {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
  margin: 0.67em 0;
  margin-top: 0;
}

.p-userprofile {
  font-weight: 300;
  color: #999 !important;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 0;
}

.span-userprofile {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb !important;
  vertical-align: middle;
}

.link-img {
  touch-action: manipulation;
  color: #5cb85c !important;
  text-decoration: none;
  background: transparent;
}

.author {
  display: block;
  font-weight: 500;
  touch-action: manipulation;
  color: #5cb85c !important;
  text-decoration: none;
  background-color: transparent;
}

.form-control:focus {
  border-color: #5cb85c !important;
  box-shadow: 0 0 5px rgb(111, 219, 111) !important;
}

.eye-position {
  position: absolute;
  top: 258px;
  right: 520px;
}

.eye-position1 {
  position: absolute;
  top: 325px;
  right: 555px;
}

.eye-position2 {
  position: absolute;
  bottom: 180px;
  right: 30px;
}

.tag-create {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}