.heart-btn:hover {
  background: green !important;
}

.heart-btn:active {
  background: rgb(0, 103, 0) !important;
}

.setting-btn:hover {
  background: #d0d0d0 !important;
}

.setting-btn:active {
  background: #b9b9b9 !important;
}

.nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

.nav-link.deactive {
  background: 0 0 !important;
  border-bottom: none !important;
  color: #aaa !important;
  display: block;
  padding: 0.5em 1em;
}

.nav-link.deactive:hover {
  color: black !important;
}

.author:hover {
  text-decoration: underline !important;
}

.navhover:hover {
  color: rgb(79, 78, 78) !important;
}

.tag-pill.tag-default.sidebar-tag:hover {
  background-color: #757575 !important;
}

.nav-item.false:hover {
  color: #000;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5cb85c !important;
  --bs-btn-border-color: #5cb85c !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #52ac52 !important;
  --bs-btn-hover-border-color: #52ac52 !important;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5cb85c !important;
  --bs-btn-active-border-color: #5cb85c !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.selected-tag {
  text-decoration: underline !important;
  background-color: #757575 !important ; 
}

.selected-tag:hover {
  text-decoration: none !important;
}